services:

  api:
    container_name: api
    build:
      context: ./api
      target: local
    image: career-roadmap/api:local
    expose:
      - "8080"
    depends_on:
      db: 
        condition: service_healthy
      inmemory:
        condition: service_healthy
      observability:
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "ab", "-c", "1", "-n", "1", "http://127.0.0.1:8080/api/v1/health" ]
      start_period: 60s
      interval: 5s
      timeout: 20s
      retries: 30
    env_file:
      - ./api/.env
    volumes:
      - ./api/src:/src

  batch:
    container_name: batch
    build:
      context: ./batch
      target: local
    image: career-roadmap/batch:local
    depends_on:
      db: 
        condition: service_healthy
      inmemory:
        condition: service_healthy
      observability:
        condition: service_healthy
    env_file:
      - ./batch/.env
    volumes:
      - ./batch/src:/src

  db:
    container_name: db
    build:
      context: ./db
    image: career-roadmap/db:local
    environment:
      POSTGRES_DB: career_roadmap
      POSTGRES_USER: developer
      POSTGRES_PASSWORD: developer
    ports:
    - ${DATABASE_PORT:-5432}:5432
    healthcheck:
      test: [ "CMD", "pg_isready", "-U", "developer" ]
      start_period: 3s
      interval: 5s
      timeout: 20s
      retries: 30
    volumes:
      - career-roadmap-db-data:/var/lib/postgresql

  infra:
    container_name: infra
    build:
      context: ./infra
    image: career-roadmap/infra:local
    env_file:
      - ./infra/.env
    volumes:
      - ./infra/src:/home/infra/src

  inmemory:
    container_name: inmemory
    build:
      context: ./inmemory
    image: career-roadmap/inmemory:local
    ports:
      - ${INMEMORY_PORT:-6380}:6380
    healthcheck:
      test: [ "CMD", "redis-cli", "-p", "6380", "PING" ]
      start_period: 3s
      interval: 5s
      timeout: 20s
      retries: 30

  job:
    container_name: job
    build:
      context: ./job
      target: local
    image: career-roadmap/job:local
    depends_on:
      db: 
        condition: service_healthy
      inmemory:
        condition: service_healthy
      observability:
        condition: service_healthy
    env_file:
      - ./job/.env
    volumes:
      - ./job/src:/src

  observability:
    container_name: observability
    build:
      context: ./observability
      target: local
    image: career-roadmap/observability:local
    ports:
      - ${OBSERVABILITY_OTLP_PORT:-4318}:4318
      - ${OBSERVABILITY_UI_PORT:-16686}:16686
    healthcheck:
      test: [ "CMD-SHELL", 'printf "POST /v1/traces HTTP/1.1\r\nHost: localhost\r\nContent-Type: application/json\r\nContent-Length: 2\r\n\r\n{}" | nc localhost 4318 | grep "HTTP/1.1 200 OK"' ]
      start_period: 5s
      interval: 5s
      timeout: 20s
      retries: 30
  
  proxy:
    container_name: proxy
    build:
      context: ./proxy
    image: career-roadmap/proxy:local
    ports:
      - ${PROXY_PORT:-8080}:80
    depends_on:
      api: 
        condition: service_healthy
    healthcheck:
      test: [ "CMD", "curl", "-f", "http://127.0.0.1/health" ]
      start_period: 65s
      interval: 3s
      timeout: 20s
      retries: 30
      
  web:
    container_name: web
    build:
      context: ./web
      target: local
    image: career-roadmap/web:local
    ports:
      - ${WEB_PORT:-3000}:3000
    depends_on:
      api: 
        condition: service_healthy
    volumes:
      - ./web/src:/var/www/html

volumes:
  career-roadmap-db-data: