name: CI Workflow

on:
    workflow_call:
      secrets:
        GITHUB_PAT:
          required: true
        AWS_ACCOUNT_ID:
          required: true

jobs:
  check-infra:
    uses: ./.github/workflows/check-infra.yml
    secrets:
      GITHUB_PAT: ${{ secrets.GITHUB_PAT }}
      AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}